---
import Page from '../templates/page.astro';
import FilterList from '../components/filter_list/filter_list.svelte';
import '../sass/index.scss';
---

<Page description="Prompt searching/filtering tool for the CMU Artist Alley Club Art Buddy Program">
    <h1 slot="header">Activity Search</h1>
    <FilterList client:load />
    <em slot="footer">Thank you for visiting!</em>
</Page>